#header{
  font-size: 100px;
  color: white;
  background-color: black;
  text-align:center;
  margin-bottom: 10px;
  background-image: url('images/cookie.jpg');
}

#jeu{
  background-color: white;
  position: absolute;
  right: 30%;
  width: 500px;
  height: 500px;
  margin-left: -400px;  
  border:1px solid;
}


.hamster{
  position: absolute;
  width:100px;
}
